<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetflixClone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetflixClone.styles.css" asp-append-version="true" />
</head>
<body class="@ViewData["BodyClass"]">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-xxl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                   <img src="~/images/Netflix-Logo-removebg-preview(1).png" alt="Netflix Logo" width="250" />

                    @if (ViewData["ShowSignIn"] != null && (bool)ViewData["ShowSignIn"])
                    {
                        <a href="#" id="danger-btn" class="ms-auto">Sign In</a>

                    }
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <a href="#">FAQ</a>
                <a href="#">Investor Relations</a>
                <a href="#">Ways to Watch</a>
                <a href="#">Corporate Information</a>
                <a href="#">Only on Netflix</a>
            </div>

            <div class="footer-column">
                <a href="#">Help Center</a>
                <a href="#">Jobs</a>
                <a href="#">Terms of Use</a>
                <a href="#">Contact Us</a>
            </div>

            <div class="footer-column">
                <a href="#">Account</a>
                <a href="#">Redeem Gift Cards</a>
                <a href="#">Privacy</a>
                <a href="#">Speed Test</a>
            </div>

            <div class="footer-column">
                <a href="#">Media Center</a>
                <a href="#">Buy Gift Cards</a>
                <a href="#">Cookie Preferences</a>
                <a href="#">Legal Notices</a>
            </div>
        </div>

        <div class="language-selector">
            <select id="language">
                <option value="en">English</option>
            </select>
        </div>

        <div class="footer-bottom">
            Netflix South Africa
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/77cc4812f3.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
