@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Check Your Inbox";
}

<div class="container inbox-page">
    <div class="icon-container">
        <img src="/images/email.png" alt="Inbox Icon" width="80">
    </div>
    <div class="step-title">STEP 1 OF 3</div>
    <div class="main-title">Check your inbox</div>
    <div class="info-text">
        We sent a sign-up link to <strong>tumelophatlane0410@gmail.com</strong>. Tap the link in the email to finish setting up your account.
    </div>
    <button class="btn-red">Resend Link</button>
    <button class="btn-gray">Create Password Instead</button>
</div>