@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Password";
}

<div class="container password-page">
    <div class="step-title">STEP 1 OF 3</div>
    <div class="main-title">Create a password to start your membership</div>
    <div class="sub-text">Just a few more steps and you're done! We hate paperwork, too.</div>

    <form action="@Url.Action("CreatePassword", "Home")" method="post">
        <input type="email" name="email" class="p-form-control" placeholder="Email" value="@ViewBag.Email" readonly>
        <input type="password" name="password" class="p-form-control" placeholder="Add a password" required
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@@!%*?&])[A-Za-z\d@@$!%*?&]{8,}"
               title="Password must be at least 8 characters long, with one uppercase letter, one lowercase letter, one number, and one special character.">

        <button type="submit" class="btn-red">Next</button>
    </form>
</div>