@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Password";
}

<div class="container password-page">
    <div class="step-title">STEP 1 OF 3</div>
    <div class="main-title">Create a password to start your membership</div>
    <div class="sub-text">Just a few more steps and you're done! We hate paperwork, too.</div>

    <form action="ChoosePlan" method="get">
        <input type="email" class="form-control" placeholder="Email" value="tumelophatlane0410@gmail.com" readonly>
        <input type="password" class="form-control" placeholder="Add a password">

        <div class="checkbox-container">
            <input type="checkbox" id="special-offers">
            <label for="special-offers" style="margin-left: 8px;">Please do not email me Netflix special offers.</label>
        </div>

        <button type="submit" class="btn-red">Next</button>
    </form>
</div>