@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="centered-text">
    <h1>Unlimited movies, TV shows, and more.</h1>
    <p>Starts at R49. Cancel anytime.</p>
    <form method="post" action="/Account/SignUp">
        <div class="form-group">
            <label for="email">Ready to watch? Enter your email to create or restart your membership.</label>
            <div class="email-btn">
            <input type="email" class="form-control" id="email" name="email" required placeholder="Email address">
                    <button type="submit" class="btn btn-danger">Get Started <i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </form>
</div>
</div>


   <div class="movies-section">
        <h2>Trending Now</h2>
        <div class="filters">
            <select id="region" onchange="handleRegionChange()">
                <option value="ZA">South Africa</option>
                <option value="global">Global</option>
            </select>

            <select id="contentType" onchange="getTrendingContent()">
                <!-- content type options will be updated dynamically -->
            </select>
        </div>

      <div class="slider-container">
        <button class="slide-arrow prev-arrow" onclick="prevSlide()">&#10094;</button>
        <div id="moviesGrid" class="movies-grid slider-wrapper">
            <!-- Movie cards will be dynamically inserted here -->
        </div>
        <button class="slide-arrow next-arrow" onclick="nextSlide()">&#10095;</button>
    </div>
</div>


