@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="centered-text">
    <h1>Unlimited movies, TV shows, and more.</h1>
    <p>Starts at R49. Cancel anytime.</p>
    <form method="post" action="/Account/SignUp">
        <div class="form-group">
            <label for="email">Ready to watch? Enter your email to create or restart your membership.</label>
            <div class="email-btn">
            <input type="email" class="form-control" id="email" name="email" required placeholder="Email address">
                    <button type="submit" class="btn btn-danger">Get Started <i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </form>
</div>
</div>


   <div class="movies-section">
        <h2>Trending Now</h2>
        <div class="filters">
            <select id="region" onchange="handleRegionChange()">
                <option value="ZA">South Africa</option>
                <option value="global">Global</option>
            </select>

            <select id="contentType" onchange="getTrendingContent()">
                <!-- content type options will be updated dynamically -->
            </select>
        </div>

      <div class="slider-container">
        <button class="slide-arrow prev-arrow" onclick="prevSlide()">&#10094;</button>
        <div id="moviesGrid" class="movies-grid slider-wrapper">
            <!-- Movie cards will be dynamically inserted here -->
        </div>
        <button class="slide-arrow next-arrow" onclick="nextSlide()">&#10095;</button>
    </div>
</div>

<div class="reasons-container">
    <h2>More Reasons to Join</h2>
    <div class="reasons-grid">
        <div class="reason-card">
            <h3>Enjoy on your TV</h3>
            <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
            <img src="images/tv.png" alt="TV Icon">
        </div>
        <div class="reason-card">
            <h3>Download your shows to watch offline</h3>
            <p>Save your favorites easily and always have something to watch.</p>
            <img src="~/images/download.png" alt="Download Icon">
        </div>
        <div class="reason-card">
            <h3>Watch everywhere</h3>
            <p>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</p>
            <img src="~/images/telescope.png" alt="Watch Everywhere Icon">
        </div>
        <div class="reason-card">
            <h3>Create profiles for kids</h3>
            <p>Send kids on adventures with their favorite characters in a space made just for them — free with your membership.</p>
            <img src="~/images/share.png" alt="Kids Profiles Icon">
        </div>
    </div>
</div>



