@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Finish Setting Up Your Account";
}

<div class="container setup-page">
    <div class="icons">
        <i class="fas fa-laptop"></i>
        <i class="fas fa-tv"></i>
        <i class="fas fa-tablet-alt"></i>
        <i class="fas fa-mobile-alt"></i>
    </div>
    <div class="step-title">STEP 1 OF 3</div>
    <div class="main-title">Finish setting up your account</div>
    <div class="info-text">
        We'll send a sign-up link to <strong>tumelophatlane0410@gmail.com</strong> so you can use Netflix
        without a password on any device at any time.
    </div>
    <div class="checkbox-container">
        <input type="checkbox" id="special-offers">
        <label for="special-offers">Please do not email me Netflix special offers.</label>
    </div>
    <button class="send-link-btn" onclick="window.location.href='CheckInbox'">Send Link</button>
    <button class="create-password-btn" onclick="window.location.href='CreatePassword'">Create Password</button>
</div>