html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('/images/netflix-background-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.lighter-background {
    background-color: rgba(0, 0, 0, 0.3);
}

    .lighter-background::before {
        background-color: rgba(0, 0, 0, 0.3);
    }

body.black-background {
    background-image: none;
    background-color: black;
}

.white-background::before {
    background-color: white;
}

body.white-background {
    background-image: none;
    background-color: #ffffff !important;
}

.centered-text {
    max-width: 60%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

.movies-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

 h1 {
    font-size: 3.5em; 
    font-weight: bolder;
    margin-bottom: 20px;
    padding-top: 40px;
}

p {
    font-size: 1.1rem; 
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px; 
}

label {
    padding-bottom: 1em;
}

.email-btn {
    display: flex;
    gap: 10px;
}

input[type="email"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.2s ease-in-out;
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus {
    background-color: rgba(18, 20, 21, 0.8);
    outline: none;
    color: white;
}

    input[type="email"]:focus::placeholder, input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder {
        font-size: 0.75em;
        transform: translateY(-10px);
        opacity: 1;
    }

input[type="email"] {
    background-color: rgba(18,20,21,0.8);
    height: 3.3em;
    width: 60%;
    color: white;
    padding: 10px;
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
}

input[type="text"], input[type="password"] {
    height: 3.3em;
    background-color: rgba(18,20,21,0.8);
    padding: 10px;
    padding-top: 5px;
}

.text-field {
    margin-bottom: 20px;
    border-radius: 4px;
}

.btn-danger {
    background-color: #e50914; 
    border: none;
    width: 30%; 
    font-size: 1.2rem; 
    padding: 12px; 
}

#danger-btn {
    background-color: #e50914;
    text-align: center;
    border: none;
    text-decoration: none;
    color: white;
    width: 75px;
    height: 30px;
    border-radius: 4px;
}

.sign-in-btn {
    background-color: #e50914;
    margin-top: 20px;
    border: none;
    color: white;
    width: 160px;
    height: 40px;
    border-radius: 4px;
}

    .btn-danger:hover, #danger-btn:hover, .sign-in-btn:hover {
        background-color: #c11119;
    }

.sign-in-link {
    color: #e50914; 
}

.movies-section {
    margin: 0 140px;
}

.slider-container {
    position: relative;
    display: block;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

#moviesGrid {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
}

.movie-card {
    min-width: 200px; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin-left: 0;
}

    .movie-card:hover {
        transform: scale(1.05);
    }


    .movie-card img {
        width: 90%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }


.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.movies-grid {
    display: flex;
    gap: 10px;
}


.movie-number {
    position: absolute;
    bottom: 0;
    font-size: 5rem; 
    font-weight: 900;
    color: black; 
    -webkit-text-stroke: 2px white; /* Outlines text */
    z-index: 1; /* Ensure it appears above other elements */
}

.netflix-logo {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; 
    z-index: 10;
}

.logo-container {
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    background-color: #1c1c1c;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 900px;
    display: flex;
    color: white;
}

.modal-poster {
    width: 200px;
    border-radius: 8px;
    margin-right: 20px;
    background-size: cover;
}

.modal-text {
    flex-grow: 1;
}

.movie-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.movie-meta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

    .movie-meta span {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px 10px;
        border-radius: 5px;
    }

.movie-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.get-started-btn {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

    .get-started-btn:hover {
        background-color: #f6121d;
    }

.genre {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
}

select {
    background-color: rgba(18,20,21,0.8);
    color: white;
    height: 3em;
    border-radius: 4px;
}

.reasons-container {
    padding: 50px;
    color: white;
    margin: 0 120px;
}

.reasons-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.reason-card {
    background: radial-gradient(circle farthest-corner at top center, #1A2043 21%, #210F1A 91%);
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    position: relative;
    min-height: 250px;
}

    .reason-card h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .reason-card p {
        font-size: 0.95em;
        margin-bottom: 15px;
        opacity: 60%;
    }

    .reason-card img {
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 10px;
        right: 10px; 
    }

.faq-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    background-color: #2d2d2d;
    margin-bottom: 5px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

    .faq-question h3 {
        margin: 0;
        font-size: 18px;
    }

.faq-answer {
    padding: 0 15px 15px;
    display: none;
}

.icon {
    font-size: 30px;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .icon {
    transform: rotate(45deg);
}

.tel-numbers {
    opacity: 60%;
    margin: 0 175px;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.coloured-background {
    width: 100%;
    background-color: black;
}

.curved-red-line {
    background: radial-gradient(100% 37% at 40% 0%, #044D7B 0%, #000000 100%) no-repeat 22% 34% / 100% 100%;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    border-top: 5px solid red;
    border-radius: 100% 100% 0 0;
    background-color: transparent;
    margin-top: 120px;
}

.option {
    margin-top: 30px;
}

.sign-in-code-btn {
    background-color: rgba(64,65,67,0.6);
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

    .sign-in-code-btn:hover {
        background-color: rgba(64,65,67,0.4);
    }

.options, .forgot-password {
    margin-top: 10px;
}

.forgot-password {
    text-decoration: none;
}

.forgot-password:hover {
    opacity: 60%;
    text-decoration: underline;
}

.sign-up-link {
    text-decoration: none;
}

.sign-up-link:hover {
    text-decoration: underline;
}

.learn-more-link {
    color: #0071eb;
    text-decoration: none;
}

.learn-more-link:hover {
    color: #0071eb;
    text-decoration: underline;
}

.new-user {
    opacity: 60%;
}

.movie-slider-section {
    margin: 20px 0;
    padding: 0 30px;
}

.movie-slider {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

    .movie-slider::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari */
    }

.movie-card-2 {
    flex: none;
    width: 350px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

    .movie-card-2 img {
        border-radius: 5px;
        max-width: 100%;
        height: auto;
        transition: transform 0.2s;
    }

    .movie-card-2:hover {
        transform: scale(1.05);
    }

    .movie-card-2 p {
        margin-top: 10px;
        color: #e5e5e5;
        font-weight: 500;
    }


.featured-movie {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-position: center;
}

.featured-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 2;
}

    .featured-content h1 {
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    }

    .featured-content p {
        font-size: 1.2rem;
        max-width: 500px;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    }

.buttons a {
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-play {
    background-color: #e50914;
    font-weight: bold;
}

.btn-info {
    background-color: rgba(255, 255, 255, 0.5);
}

.featured-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
    z-index: 1;
}

.modal-content {
    background-color: #141414;
    border-radius: 10px;
    color: #ffffff;
}

.modal-title {
    color: #ffffff;
}

.modal-body {
    padding: 0;
}

.modal {
    z-index: 1050;
}

.modal-backdrop {
    z-index: 1040;
}

.setup-page {
    text-align: center;
    padding-top: 50px;
}

    .setup-page .step-title {
        color: #333;
        font-weight: 500;
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    .setup-page .main-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .setup-page .info-text {
        color: #666;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .setup-page .send-link-btn {
        background-color: #e50914;
        color: #fff;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

        .setup-page .send-link-btn:hover {
            background-color: #b20710;
        }

.create-password-btn {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

    .create-password-btn:hover {
        background-color: #d0d0d0;
    }

    .setup-page .icons {
        font-size: 2rem;
        color: #e50914;
        margin-bottom: 10px;
    }

    .setup-page .checkbox-container {
        font-size: 0.9rem;
        color: #666;
        margin-top: 15px;
        margin-bottom: 20px;
    }

.inbox-page {
    text-align: center;
    padding-top: 50px;
}

.inbox-page .icon-container {
    margin: 20px 0;
}

.inbox-page .step-title {
    color: #333;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.inbox-page .main-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.inbox-page .info-text {
    color: #666;
    font-size: 1rem;
    margin-bottom: 15px;
}

.inbox-page .btn-red {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 10px;
}

    .inbox-page .btn-red:hover {
        background-color: #b20710;
    }

.inbox-page .btn-gray {
    background-color: #e0e0e0;
    color: #333;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}

    .inbox-page .btn-gray:hover {
        background-color: #d0d0d0;
    }

.step-title {
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

.main-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.form-control {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.btn-red {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

    .btn-red:hover {
        background-color: #b20710;
    }

.step-title {
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

.main-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-page, .password-page {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;
}

.plan-feature {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.plan-feature-icon {
    color: #e50914;
    margin-right: 8px;
}

.btn-red {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

    .btn-red:hover {
        background-color: #b20710;
    }

.plan-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.plan-card {
    width: 250px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: border-color 0.3s;
}

    .plan-card.selected {
        border: 2px solid #007BFF; 
    }

    .plan-card:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        border: 2px solid #007BFF; 
    }

.plan-header {
    background: linear-gradient(135deg, #3f5efb, #fc466b);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.plan-premium .plan-header {
    background: #e50914;
}

.most-popular {
    background-color: #e50914;
    color: #fff;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.plan-detail {
    font-size: 0.9rem;
    color: #666;
    margin-top: 10px;
}

.plan-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
}

.btn-next {
    background-color: #e50914;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}

    .btn-next.show {
        display: block;
    }

    .btn-next:hover {
        background-color: #b20710;
    }

.content .icon {
    width: 50px;
    margin: 20px 0;
    color: #e50914;
}

.step {
    color: #888;
    font-size: 12px;
}

.description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .payment-option:hover {
        background-color: #f0f0f0;
    }

    .payment-option img {
        height: 24px;
    }

.choose-how-to-pay {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.card-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.card-details {
    display: flex;
    gap: 10px;
}

.plan-info {
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .plan-info a {
        font-size: 14px;
        color: #0071eb;
    }

.terms {
    font-size: 12px;
    color: #555;
    margin: 15px 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .checkbox-container input[type="checkbox"] {
        width: auto;
        margin-right: 5px;
    }

.membership-btn {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .membership-btn:hover {
        background-color: #f40612;
    }

.who-is-watching {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profiles-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.profile {
    cursor: pointer;
    text-align: center;
}

.profile-icon {
    font-size: 80px;
}

.add-icon {
    color: #fff;
}

.profile-name {
    margin-top: 10px;
    font-size: 16px;
    color: #b3b3b3;
}

.manage-profiles-btn {
    margin-top: 30px;
    background: transparent;
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

    .manage-profiles-btn:hover {
        color: #fff;
        border-color: #fff;
    }

.profile-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-modal-content {
    background-color: #333;
    color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover {
        color: #fff;
    }

.profile-form-group {
    margin: 15px 0;
}

.profile-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-form-group input, .profile-form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #666;
    background-color: #444;
    color: #fff;
}

.save-profile-btn {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

    .save-profile-btn:hover {
        background-color: #f40612;
    }

.btn-edit {
    background-color: #3498db;
    color: white;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
}

.btn-save {
    background-color: #2ecc71;
    color: white;
}

.p-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.p-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
}

.profile-form-group {
    margin-bottom: 15px;
}

.p-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .p-close:hover,
    .p-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    z-index: 1000;
    animation: fadeInOut 3s forwards;
}

    .message.success {
        background-color: #2ecc71;
    }

    .message.error {
        background-color: #e74c3c;
    }

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.btn-back {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

    .btn-back:hover {
        background-color: #0056b3;
    }

.message-container {
    text-align: center;
    margin: 10px 0;
    display: none;
}

    .message-container .success {
        color: green;
        font-weight: bold;
    }

    .message-container .error {
        color: red;
        font-weight: bold;
    }